:root{
    --a:0.1;
    --x:0px;
    --color:0;
    --sticky:absolute;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
    position: relative;
}
header{
    position:var(--sticky);
    top: 0px;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    z-index: 106;
    background: #2b1055;
}
.logo{
    position: absolute;
    user-select: none;
    left: 20px;
    width: 50px;
    height: 50px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#fff;
    border-radius: 20px;
}
header ul li a:hover{
    background: #fff;
    color:#2b1055;
}


.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
    z-index: 102;
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: white;
}
.sec p{
    font-size: 1.2em;
    color: white;
}

html{
    scroll-behavior: smooth;
}
.demo {
    width: 100%;
    position: relative;
    z-index: 99;
  }
.box::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    background:linear-gradient(to top,#1c0522,transparent);
    width: 100%;
    height: 50px;
    z-index: 145;

}
  .box {
    position: relative;
    height: 120vh;
    overflow: hidden;
  }
  .leaf {
      z-index: 103;
      position: absolute;
      left:30%;
      top:calc(var(--x) + 10%);
      box-shadow: 0 0 10px 10px rgba(245, 7, 7,var(--color));
    margin-top: 400px;
    width: 300px;
    height: 300px;
    border-radius: 300px 0px;
    background: 
      linear-gradient(
        45deg,
        rgba(188, 190, 192, 1) 8%,
        rgba(158, 31, 99, 1) 30%,
        rgba(158, 31, 99, 1) 100%
      );
    opacity: 0.2;
    filter: alpha(opacity=50);
    transform: rotate(135deg);
    transform-origin: top right;
  }

  .leaf:nth-child(2) {
    transform: rotate(calc(135deg + calc(var(--a)*20deg)));
  }
  .leaf:nth-child(3) {
    transform: rotate(calc(135deg + calc(var(--a)*40deg)));
  }
  .leaf:nth-child(4) {
    transform: rotate(calc(135deg + calc(var(--a)*60deg)));
  }
  .leaf:nth-child(5) {
    transform: rotate(calc(135deg + calc(var(--a)*80deg)));
  }
  .leaf:nth-child(6) {
    transform: rotate(calc(135deg + calc(var(--a)*-20deg)));
  }
  .leaf:nth-child(7) {
    transform: rotate(calc(135deg + calc(var(--a)*-40deg)));
  }
  .leaf:nth-child(8) {
    transform: rotate(calc(135deg + calc(var(--a)*-60deg)));
  }
  .leaf:nth-child(9) {
    transform: rotate(calc(135deg + calc(var(--a)*-80deg)));
  }
section div img{
    position: absolute;
    z-index: 0;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#front{
    z-index: 104;
}
